body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 1rem;
  margin: 1rem;
  width: 90%;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.attribution {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;

  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
  font-size: 1rem;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Outfit", sans-serif;

  width: 21rem;
  height: 35rem;
}

.attribution p {
  color: hsl(220, 15%, 55%);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem;
  margin-bottom: 0.5rem;
}

.credits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: hsl(228, 45%, 44%);
}

.credits p {
  margin: 0.3rem;
  font-size: 0.7rem;
}
